<section class="cd-hero">
    <ul class="cd-hero-slider">
        <li class="selected">
            <div class="cd-half-width col-md-3 summer">
                <h2><span>Discover</span> the world together!</h2>
                <p>Travego HTML5 / CSS3 template, simple, clean and Professional theme. It’s fully responsive,
                    Validation code and good documentation.</p>
            </div>
        </li>

        <li>
            <div class="cd-half-width cd-img-container">
            </div>
            <div class="cd-half-width spring">
                <h2><span>Discover</span> the world together!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!</p>
                <a href="#0" class="cd-btn">Start</a>
                <a href="#0" class="cd-btn secondary">Learn More</a>
            </div> <!-- .cd-half-width -->
        </li>

        <li>
            <div class="cd-half-width">
                <h2><span>Discover</span> the world together!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!</p>
                <a href="#0" class="cd-btn">Start</a>
                <a href="#0" class="cd-btn secondary">Learn More</a>
            </div> <!-- .cd-half-width -->
        </li>

        <li class="cd-bg-video">
            <div class="cd-full-width">
                <h2><span>Discover</span> the world together!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.</p>
                <a href="#0" class="cd-btn">Learn more</a>
            </div> <!-- .cd-full-width -->


        </li>

        <li>
            <div class="cd-full-width">
                <h2>Slide title here</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.</p>
                <a href="#0" class="cd-btn">Start</a>
                <a href="#0" class="cd-btn secondary">Learn More</a>
            </div> <!-- .cd-full-width -->
        </li>
    </ul> <!-- .cd-hero-slider -->

    <div class="cd-slider-nav">
        <nav>
            <span class="cd-marker item-1"></span>

            <ul>
                <li class="selected"><a href="#0">Summer</a></li>
                <li><a href="#0">Spring</a></li>
                <li><a href="#0">Winter</a></li>
                <li><a href="#0">Autumn</a></li>
            </ul>
        </nav>
    </div> <!-- .cd-slider-nav -->

</section> <!-- .cd-hero -->