</head>
<body>

<div id="loader-wrapper">
    <div id="loader"></div>
</div>
<section class='section-top-header'>
    <div class='top-header'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class='top-contact'><i class="fa fa-phone"></i><span>+353 85 839 8224</span><i
                            class="fa fa-envelope"></i><span>info@globalgourmettravel.com/</span></div>
                    <div class='top-login'><i class="fa fa-plus"></i><a class='reg-top' href='#'>Register</a><i
                            class="fa fa-lock"></i><a href='#'>Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="top-mega-menu">
        <div class="container">
            <!-- mega menu -->
            <ul class="travel-mega-menu travel-mega-menu-anim-scale travel-mega-menu-response-to-icons">
                <li class="line-logo">
                    <a class="logo" href="#"><img src="../../static/images/logo.jpg" alt=""/></a>
                </li>

                <li>
                    <a class="top-menu-txt" href="#">Home</a>
                </li>

                <!-- resume -->
                <li class="center">
                    <a class="top-menu-txt" href="#">Destinations</a>
                    <div class="grid-container10 destination">
                        <form>
                            <fieldset>
                                <div class="row">
                                    <section class="col col-md-3 destination-img">
                                        <img src="../../static/images/continent/continent_4.png" alt=""/>
                                        <h3>Europe</h3>
                                        <ul>
                                            <li><a href="guide.html">Spain</a></li>
                                            <li><a href="guide.html">Portugal</a></li>
                                        </ul>
                                    </section>
                                    <section class="col col-md-3 destination-img">
                                        <img src="../../static/images/continent/continent_1.png" alt=""/>
                                        <h3>North America</h3>
                                        <ul>
                                            <li><a href="guide.html">California</a></li>
                                        </ul>
                                    </section>
                                    <section class="col col-md-3 destination-img">
                                        <img src="../../static/images/continent/continent_5.png" alt=""/>
                                        <h3>Pacific</h3>
                                        <ul>
                                            <li><a href="guide.html">Australia</a></li>
                                        </ul>
                                    </section>
                                    <section class="col col-md-3 destination-img">
                                        <img src="../../static/images/continent/continent_3.png" alt=""/>
                                        <h3>Africa</h3>
                                        <ul>
                                            <li><a href="guide.html">South Africa</a></li>
                                        </ul>
                                    </section>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </li>
                <!--/ resume -->
                <!-- about us -->
                <li>
                    <a class="top-menu-txt" href="about.html">About Us</a>
                </li>
                <!--/ about us -->
                <!-- activities -->
                <li>
                    <a class="top-menu-txt" href="gallery-3col.html">Activities</a>
                </li>
                <!--/ Activities -->
                <!--blog -->
                <li>
                    <a class="top-menu-txt" href="{% url 'blog_index' %}">Blog</a>
                </li>
                <!--/ Blog -->
                <!-- page -->
                <li class="center">
                    <a class="top-menu-txt" href="#">Pages</a>
                    <div class="grid-container7 destination blue-link">
                        <form>
                            <fieldset>
                                <div class="row">
                                    <section class="col col-md-4">
                                        <h3>Standard</h3>
                                        <ul>
                                            <li><a href="about.html">About Us 1</a></li>
                                            <li><a href="about2.html">About Us 2</a></li>
                                            <li><a href="services1.html">Services 1</a></li>
                                            <li><a href="services2.html">Services 2</a></li>
                                            <li><a href="information.html">Information</a></li>
                                        </ul>
                                    </section>
                                    <section class="col col-md-4">
                                        <h3>Extra</h3>
                                        <ul>
                                            <li><a href="list-trip.html">Catalog</a></li>
                                            <li><a href="details.html">Details</a></li>
                                            <li><a href="gallery-4col.html">Gallery 4 Col</a></li>
                                            <li><a href="gallery-3col.html">Gallery 3 Col</a></li>
                                            <li><a href="gallery-2col.html">Gallery 2 Col</a></li>

                                        </ul>
                                    </section>
                                    <section class="col col-md-4">
                                        <h3>Special</h3>
                                        <ul>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-lft-col.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog-rgh-col.html">Blog Right Sidebar</a></li>
                                            <li><a href="guide.html">Travego Guide</a></li>
                                            <li><a href="meteo.html">Tracego Weather</a></li>
                                        </ul>
                                    </section>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </li>
                <!--/ page -->

                <!-- contacts -->
                <li>
                    <a class="top-menu-txt" href="contact.html"><i class="fa fa-phone"></i>Contacts</a>
                    <div class="grid-container3 blue-link">
                        <ul>
                            <li><a href="contact.html"><i class="fa fa-twitter"></i>Twitter</a></li>
                            <li><a href="contact.html"><i class="fa fa-facebook"></i>Facebook</a></li>
                            <li><a href="contact.html"><i class="fa fa-google-plus"></i>Google Plus</a></li>
                        </ul>
                    </div>
                </li>
                <!--/ contacts -->

                <!-- weather -->
                <li class="weather">
                    <a class="top-menu-txt" href="meteo.html"><i class="fa fa-cloud"></i>Weather</a>
                </li>
                <!--/ weather -->
            </ul>
            <!--/ mega menu -->
        </div>

        <nav id="mobile-menu-01" class="mobile-menu">
            <div class="line-logo">
                <a class="logo" href="#"><img src="../../static/images/logo.jpg" alt=""/></a><i class="fa fa-bars"></i>
            </div>
            <div class="clear"></div>
            <ul class="travel-mega-menu-mobile">

                <!-- about -->
                <li class="line-mini-menu k-opn">
                    <a class="top-menu-txt" href="#">Home</a>
                </li>
                <!--/ about -->

                <!-- resume -->
                <li class="line-mini-menu k-opn">
                    <a class="top-menu-txt" href="#">Destination</a>
                    <div class="grid-container10 destination collapse blue-link">
                        <form>
                            <fieldset>
                                <div class="row">
                                    <section class="col destination-img">

                                        <h3>North America</h3>
                                        <ul>
                                            <li><a href="guide.html">Canada</a></li>
                                            <li><a href="guide.html">Hawai</a></li>
                                            <li><a href="guide.html">Alaska</a></li>
                                        </ul>
                                    </section>
                                    <section class="col destination-img">

                                        <h3>South America</h3>
                                        <ul>
                                            <li><a href="guide.html">Brazil</a></li>
                                            <li><a href="guide.html">Argentina</a></li>
                                            <li><a href="guide.html">Jamaica</a></li>
                                            <li><a href="guide.html">Columbia</a></li>
                                            <li><a href="guide.html">Peru'</a></li>
                                        </ul>
                                    </section>
                                    <section class="col destination-img">

                                        <h3>Africa</h3>
                                        <ul>
                                            <li><a href="guide.html">Marocco</a></li>
                                            <li><a href="guide.html">Tunisia</a></li>
                                            <li><a href="guide.html">Egipt</a></li>
                                            <li><a href="guide.html">Kenya</a></li>
                                            <li><a href="guide.html">Tanzania</a></li>
                                        </ul>
                                    </section>
                                    <section class="col destination-img">

                                        <h3>Europe</h3>
                                        <ul>
                                            <li><a href="guide.html">Italy</a></li>
                                            <li><a href="guide.html">France</a></li>
                                            <li><a href="guide.html">Greece</a></li>
                                            <li><a href="guide.html">Spain</a></li>
                                            <li><a href="guide.html">Germany</a></li>
                                        </ul>
                                    </section>
                                    <section class="col destination-img">

                                        <h3>Asia</h3>
                                        <ul>
                                            <li><a href="guide.html">Australia</a></li>
                                            <li><a href="guide.html">China</a></li>
                                            <li><a href="guide.html">India</a></li>
                                            <li><a href="guide.html">Indonesia</a></li>
                                            <li><a href="guide.html">Singapore</a></li>
                                        </ul>
                                    </section>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </li>
                <!--/ resume -->
                <!-- hotels -->
                <li class="k-opn">
                    <a class="top-menu-txt" href="list-trip.html">Hotels</a>
                </li>
                <!--/ hotels -->
                <!-- hotels -->
                <li class="k-opn">
                    <a class="top-menu-txt" href="list-fly.html">Fly</a>
                </li>
                <!--/ hotels -->
                <!-- page -->
                <li class="line-mini-menu k-opn">
                    <a class="top-menu-txt" href="#">Pages</a>
                    <div class="grid-container7 destination collapse blue-link">
                        <form>
                            <fieldset>
                                <div class="row">
                                    <section class="col">
                                        <h3>Standard</h3>
                                        <ul>
                                            <li><a href="about.html">About Us 1</a></li>
                                            <li><a href="about2.html">About Us 2</a></li>
                                            <li><a href="services1.html">Services 1</a></li>
                                            <li><a href="services2.html">Services 2</a></li>
                                            <li><a href="information.html">Information</a></li>
                                        </ul>
                                    </section>
                                    <section class="col">
                                        <h3>Extra</h3>
                                        <ul>
                                            <li><a href="list-trip.html">Catalog</a></li>
                                            <li><a href="details.html">Details</a></li>
                                            <li><a href="gallery-4col.html">Gallery 4 Col</a></li>
                                            <li><a href="gallery-3col.html">Gallery 3 Col</a></li>
                                            <li><a href="gallery-2col.html">Gallery 2 Col</a></li>

                                        </ul>
                                    </section>
                                    <section class="col">
                                        <h3>Special</h3>
                                        <ul>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-lft-col.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog-rgh-col.html">Blog Right Sidebar</a></li>
                                            <li><a href="guide.html">Travego Guide</a></li>
                                            <li><a href="meteo.html">Tracego Weather</a></li>
                                        </ul>
                                    </section>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </li>
                <!--/ page -->

                <!-- contacts -->
                <li class="line-mini-menu k-opn">
                    <a class="top-menu-txt" href="contact.html"><i class="fa fa-phone"></i>Contacts</a>
                    <div class="grid-container3 collapse blue-link">
                        <ul>
                            <li><a href="contact.html"><i class="fa fa-twitter"></i>Twitter</a></li>
                            <li><a href="contact.html"><i class="fa fa-facebook"></i>Facebook</a></li>
                            <li><a href="contact.html"><i class="fa fa-google-plus"></i>Google Plus</a></li>
                        </ul>
                    </div>
                </li>
                <!--/ contacts -->

                <!-- weather -->
                <li class="k-opn">
                    <a class="top-menu-txt" href="meteo.html"><i class="fa fa-cloud"></i>Weather</a>
                </li>
                <!--/ weather -->
            </ul>
            <!--/ mega menu -->
        </nav>

    </div>
</section>

<div>