{% load staticfiles %}
<!-- TOP OFFERTS -->
<section id="top-offerts" class='home4-section'>
    <div class="container">
        <div class="row">
            <div class="col-md-12 effect-5 effects no-border-img">

                <div class="text-center">
                    <h2>THE BEST PROMOTIONS</h2>
                    <div class="separator">
                        <div class="separator-style"></div>
                    </div>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit</p>
                </div>

                <!-- FIFTH EXAMPLE -->
                <div class="four-col col-md-3 view view-fifth">
                    <figure class="triggerAnimation animated" data-animate="fadeInDown">
                        <div class="img-effect-flash">
                            <img src="{% static 'img/thumb/mountains-and-vines.jpg' %}" alt=""/>
                        </div>
                    </figure>
                    <div class="mask">
                        <div class="main">
                            <div class="trip-title"><h3>Andalusia</h3><br/>
                                <p>SPAIN</p></div>
                            <div class="price"><p>From</p>€ 1499</div>
                        </div>
                        <div class="content">
                            <p><span>Discover ancient vineyards from Roman times, superb food from local fresh tapas to
                              Michelin starred restaurants and authentic seafood dishes. Marvel at the archealogical
                              wonders of UNESCO heritage sites .... stay in a 15th Century monastery.....</p>


                            <a href="details.html" class="btn btn-primary btn-block">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="four-col col-md-3 view view-fifth">
                    <figure class="triggerAnimation animated" data-animate="fadeInDown">
                        <div class="img-effect-flash">
                            <img src="{% static 'img/thumb/wineyard.jpg' %}" alt=""/>
                        </div>
                    </figure>
                    <div class="mask">
                        <div class="main">
                            <div class="trip-title"><h3>SOUTH AUSTRALIA</h3><br/>
                                <p>AUSTRALIA</p></div>
                            <div class="price"><p>From</p>€ 1499</div>
                        </div>
                        <div class="content">
                            <p><span>South Australia, more than just Australia's wine and food capital...from red wines of
                              Barossa, to glorious whites in McLaren Vale, big reds from Coonwarra and sparkling whites
                              of Clare Valley...</p>

                            <a href="details.html" class="btn btn-primary btn-block">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="four-col col-md-3 view view-fifth">
                    <figure class="triggerAnimation animated" data-animate="fadeInDown">
                        <div class="img-effect-flash">
                            <img src="{% static 'img/thumb/California.jpg' %}" alt=""/>
                        </div>
                    </figure>
                    <div class="mask">
                        <div class="main">
                            <div class="trip-title"><h3>CALIFORNIA</h3><br/>
                                <p>USA</p></div>
                            <div class="price"><p>From</p>€ 1499</div>
                        </div>
                        <div class="content">
                            <p><span>A modern hotel room in Star Hotel</span> Nunc tempor erat in magna pulvinar
                                fermentum.
                                malesuada metus.</p>

                            <a href="details.html" class="btn btn-primary btn-block">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="four-col col-md-3 view view-fifth">
                    <figure class="triggerAnimation animated" data-animate="fadeInDown">
                        <div class="img-effect-flash">
                            <img src="{% static 'img/thumb/porto.jpg' %}" alt=""/>
                        </div>
                    </figure>
                    <div class="mask">
                        <div class="main">
                            <div class="trip-title"><h3>PORTO</h3><br/>
                                <p>PORTUGAL</p></div>
                            <div class="price"><p>From</p>€ 1499</div>
                        </div>
                        <div class="content">
                            <p><span>In the grandiose amphitheatre of the Douro Valley, classified World Heritage, man gave birth to Port wine and table wines of great quality.
                            </p>

                            <a href="details.html" class="btn btn-primary btn-block">Read More</a>
                        </div>
                    </div>
                </div>
            </div><!--Close col 12 -->
        </div>
    </div>
</section></title>
